@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #ece7de;
    background: #16181d;
    color-scheme: dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background: #16181d;
}

body {
    margin: 0;
    min-width: 320px;
}

button,
textarea,
input {
    font: inherit;
}

* {
    box-sizing: border-box;
}
